/* 
  welcome to the source
  
  basic page setup here
*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap');
body {
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.selectable {
   user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* some default customizations */

a {
  text-decoration: underline;
  color: dodgerblue;
}

.text {
  font-family: 'Kaisei HarunoUmi', arial;
  position: absolute;
  background-color: silver;
  color: white;
  font-size: 35px;
  background: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-right: 10px;
}

.small {
  font-size: 25px
}

.blurback {
  backdrop-filter: blur(7px);
  -moz-backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
 }

/* menu, backbar and library text */

#backbar {
  position: fixed;
  background-color: silver;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
}

#nametext {
  position: fixed;
  color: blue;
  font-family: 'Kaisei HarunoUmi', arial;
  font-size: 20px;
  top: 9px;
  left: 13px;
}

#menu {
  position: fixed;
  font-size: 30px;
  height: 100%;
  width: 30%;
  right: -30%;
  bottom: 0;
  z-index: 1;
  border-radius: 5px;
  transition-duration: 0.2s;
}

#menu-button:hover ~ #menu {
  right: 0;
  transition-duration: 0.5s;
}
#menu:hover {
  right: 0;
  transition-duration: 0.5s;
}
#menu-button {
  position: fixed;
  top: 3px;
  right: 10px;
  font-size: 30px;
  transition-duration: 0.2s;
  color: dodgerblue;
  opacity: 0.5;
  z-index: 2;
}

#menu-button:hover {
  transform: scale(1.050, 1.050);
  transition-duration: 0.5s;
  opacity: .75;
}

.menu-item {
  position: relative;
  width: 25%;
  top: 10px;
  margin-top: 3px;
  font-size: 80%;
  left: 12px;
  font-family: 'Kaisei HarunoUmi', arial;
  border-radius: 3px;
  transition-duration: 0.3s;
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  background-color: rgb(54, 129, 54);
  transition-duration: 0.3s;
  left: 17px;
  padding: 1px 2px 1px 1px;
}

/* background images */
#first-background {
  /* this is dumb. */
  width: 100%;
  position: sticky;
  top: 1;
  left: 0;
  filter: blur(1px);
}

#background { 
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  filter: blur(1px);
}

/* AHAHAHAH YESSS  me me me */
#credit {
  position: absolute;
  font-size: 30%;
  font-family: 'Kaisei HarunoUmi', arial;
  color: dodgerblue;
  bottom: 10px;
  left: 10px;
}