@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  height: 100%;
  width: 100%;
}


.navbar {
  position: fixed;
}

.navbar .text {
  position: fixed;
  color: blue;
  font-family: roboto, arial;
  top: 0px;
  left: 20px;
  transition-duration: 0.2s;
}

.navbar .text:hover {
  transform: scale(1.1, 1.1) translate(4%, 5%);
  transition-duration: 0.5s;
}

#menu {
  position: fixed;
  font-size: 30px;
  background-color: lightgrey;
  opacity: 0.7;
  height: 100%;
  width: 30%;
  right: -30%;
  bottom: 0;
  transition-duration: 0.2s;
}

#menu-button:hover + #menu {
  right: 0;
  transition-duration: 0.5s;
}
#menu:hover {
  right: 0;
  transition-duration: 0.5s;
}
#menu-button {
  position: fixed;
  right: 15px;
  font-size: 30px;
  transition-duration: 0.2s;
  z-index: 1;
}

#menu-button:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}
